# requirements.txt
streamlit
numpy
sounddevice
soundfile
torch
openai-whisper
python-dotenv
librosa
scipy
matplotlib
transformers
sentencepiece
fpdf2
scikit-learn
bcrypt
textblob
protobuf>=3.20,<6
audio-recorder-streamlit
tf-keras
